---
---

@import "jekyll-theme-minimal";

a {
  color: #6a5ed2;
  text-decoration: underline;
}

.fa-beat-hover:hover {
  -webkit-animation: fa-beat;
  -moz-animation: fa-beat;
  -o-animation: fa-beat;
  animation: fa-beat;
}

.fa-ul {
  margin-left: 0px;
}


