---
---

@import "jekyll-theme-minimal";

a, a:visited, a:link, a:active {
  color: #6a5ed2;
  text-decoration: underline;
}
a:hover {
  color: #6a5ed2;
  text-decoration: underline;
  font-weight: bold;
}

#li:hover ~ #fa-beat-hover {
    animation: fa-beat;
}

.fa-ul {
  margin-left: 0px;
}


