---
---

@import "jekyll-theme-minimal";

@keyframes bob {
  from {font-size: 12px;}
  to {font-size: 14px;}
  to {font-size: 12px;}
}

a, a:visited, a:link, a:active {
  color: #6a5ed2;
  text-decoration: underline;
}
a:hover {
  color: #6a5ed2;
  text-decoration: underline;
  font-weight: bold;
  animation-name: bob;
  animation-duration: 2s;
}

#li:hover ~ #fa-beat-hover {
    animation-name: bob;
    animation-duration: 2s;
}

.fa-ul {
  margin-left: 0px;
}


