---
---

@import "jekyll-theme-minimal";

@keyframes bob {
  from {font-size: 12px;}
  to {font-size: 14px;}
  to {font-size: 12px;}
}

a, a:visited, a:link, a:active {
  color: #6a5ed2;
  text-decoration: underline;
}
a:hover {
  color: #6a5ed2;
  text-decoration: underline;
  font-weight: bold;
  --animation-name: bob;
  --animation-duration: 2s;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#li:hover ~ #fa-beat-hover {
    --animation-name: bob;
    --animation-duration: 2s;
}

.fa-ul {
  margin-left: 0px;
}


